*.xcuserstate
UserInterfaceState.xcuserstate
/KMeansDemo.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/KMeansDemo.xcodeproj/project.xcworkspace/xcuserdata/vadim.xcuserdatad/WorkspaceSettings.xcsettings
